/* Compact Animation Styles - SCSS converted to CSS */

:root {
  --delay: 1250ms;
  --duration: 6000ms;
  --size: 25px;
  --half: 12.5px;
  --nalf: -12.5px;
  --total-blocks: 50;
  --nvidia-green: #76B900;
  --nvidia-black: #000000;
  --nvidia-dark: #0d0d0d;
}

.compact-animation-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  min-height: 250px;
  margin-top: -120px;
}

.compact-animation-container.active .compact-ready {
  animation: lateral var(--duration) linear infinite both;
  animation-delay: calc(var(--delay) / 2);
}

.compact-ready {
  display: grid;
  grid-gap: var(--size);
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* Letter Grid Layouts */
.compact-letter.G {
  display: grid;
  grid-template-columns: repeat(3, var(--size));
  grid-template-rows: repeat(5, var(--size));
  grid-gap: 4px;
  grid-template-areas:
    "a1 a6 a8"
    "a2 . ."
    "a3 a7 a9"
    "a4 . a10"
    "a5 a9 a11";
}

.compact-letter.P {
  display: grid;
  grid-template-columns: repeat(3, var(--size));
  grid-template-rows: repeat(5, var(--size));
  grid-gap: 4px;
  grid-template-areas:
    "a1 a6 a8"
    "a2 . a9"
    "a3 a7 a10"
    "a4 . ."
    "a5 . a11";
}

.compact-letter.U {
  display: grid;
  grid-template-columns: repeat(3, var(--size));
  grid-template-rows: repeat(5, var(--size));
  grid-gap: 4px;
  grid-template-areas:
    "a1 . a6"
    "a2 . a7"
    "a3 . a8"
    "a4 . a9"
    "a5 a10 .";
}

.compact-letter.P > :nth-child(8),
.compact-letter.P > :nth-child(9) {
  top: var(--half);
  position: relative;
}

.compact-letter.P > :nth-child(10) {
  left: var(--nalf);
  position: relative;
}

.compact-letter.U > :nth-child(3) {
  left: var(--half);
  position: relative;
}

.compact-letter.U > :nth-child(8) {
  left: var(--nalf);
  position: relative;
}

/* Block Styling */
.compact-block {
  --ratio: calc(var(--index) / var(--total-blocks));
  --block-delay: calc(calc(var(--ratio) * calc(var(--delay) / 2)) + calc(var(--delay) / 2));

  transform-style: preserve-3d;
  transform: rotate(calc(var(--angle) * 1deg)) translate3d(calc(var(--sign) * 200vw), 0, 0) rotate3d(1, 0, 0, -90deg) rotate3d(0, 1, 0, 90deg);
  
  position: relative;
  z-index: -1;
  width: var(--size);
  height: var(--size);
  will-change: transform;
}

.compact-animation-container.active .compact-block {
  animation-name: compact-block-intro;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-delay: var(--block-delay);
  animation-direction: normal;
  animation-duration: var(--duration);
}

/* Faces */
.compact-face {
  display: block;
  position: absolute;
  background-color: #2e92de;
  backface-visibility: visible;
  width: var(--size);
  height: var(--size);
  border: solid 1px #2f454f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.compact-face-1 {
  transform-origin: bottom center;
}

.compact-face-2 {
  transform: rotateX(-90deg);
  transform-origin: bottom center;
  overflow: hidden;
}

.compact-face-2::before {
  content: '';
  position: absolute;
  background-color: rgba(0, 210, 255, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: compact-shimmer var(--duration) linear;
  animation-delay: var(--block-delay);
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.compact-face-3 {
  transform: rotateY(90deg);
  transform-origin: right center;
}

/* Keyframe Animations */
@keyframes compact-block-intro {
  0% {
    transform: rotate(calc(var(--angle) * 1deg)) translate3d(calc(var(--sign) * 200vw), 0, 0) rotate3d(1, 0, 0, -90deg) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
  }
  40% {
    transform: rotate(0deg) translate3d(0, 0, 0) rotate3d(1, 0, 0, -90deg) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.8, 0.04);
  }
  70% {
    transform: rotate(0deg) translate3d(0, 0, 0) rotate3d(1, 0, 0, -90deg) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: linear;
  }
  80% {
    transform: rotate(0deg) translate3d(0, 0, 0) rotate3d(1, 0, 0, 0deg) rotate3d(0, 1, 0, 0deg);
    animation-timing-function: linear;
  }
  100% {
    transform: rotate(0deg) translate3d(150vw, 0, 0) rotate3d(1, 0, 0, 0deg) rotate3d(0, 1, 0, 0deg);
    animation-timing-function: ease-out;
  }
}

@keyframes lateral {
  from {
    transform: translateX(12%);
  }
  to {
    transform: translateX(-12%);
  }
}

@keyframes compact-shimmer {
  from, 25% {
    transform: scale(2, 1) rotate(-45deg) translate(-100%);
  }
  35%, to {
    transform: scale(2, 1) rotate(-45deg) translate(0%);
  }
}
