/* Loading Animation Styles */
:root {
  --delay: 1250ms;
  --duration: 6000ms;
  --size: 25px;
  --total-blocks: 50;
}

.loading-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #1a1a1a, #000000 10vh, #0d0d0d 10vh, #000000);
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.ready {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(5, auto);
  grid-auto-flow: column;
  animation: lateral var(--duration) linear infinite both;
  animation-delay: calc(var(--delay) / 2);
}

.letter {
  display: grid;
  grid-template-columns: repeat(3, 25px);
  grid-template-rows: repeat(5, 25px);
  grid-gap: 4px;
}

.block {
  --ratio: calc(var(--index) / 50);
  --delay: calc(calc(var(--ratio) * 625ms) + 1250ms);
  transform-style: preserve-3d;
  transform: rotate(calc(var(--angle) * 1deg)) translate3d(calc(var(--sign) * 200vw), 0, 0)
    rotate3d(1, 0, 0, -90deg) rotate3d(0, 1, 0, 90deg);
  animation: block-intro var(--duration) ease-in infinite both reverse;
  animation-delay: var(--delay);
  position: relative;
  z-index: -1;
  height: 25px;
  width: 25px;
  will-change: transform;
}

.face {
  display: flex;
  position: absolute;
  background-color: #76B900;
  backface-visibility: visible;
  width: 100%;
  height: 100%;
  border: solid 1px #5a8a00;
  justify-content: center;
  align-items: center;
}

.face-1 {
  transform-origin: bottom center;
}

.face-2 {
  transform: rotateX(-90deg);
  transform-origin: bottom center;
  overflow: hidden;
}

.face-2::before {
  content: '';
  position: absolute;
  background-color: rgba(118, 185, 0, 0.6);
  width: 100%;
  height: 100%;
  animation: shimmer var(--duration) linear infinite both;
  animation-delay: var(--delay);
}

.face-3 {
  transform: rotateY(90deg);
  transform-origin: right center;
}

@keyframes block-intro {
  40% {
    transform: rotate(0deg) translate3d(0, 0, 0) rotate3d(1, 0, 0, -90deg) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.8, 0.04);
  }
  70% {
    transform: rotate(0deg) translate3d(0, 0, 0) rotate3d(1, 0, 0, -90deg) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: linear;
  }
  80% {
    transform: rotate(0deg) translate3d(0, 0, 0) rotate3d(1, 0, 0, 0deg) rotate3d(0, 1, 0, 0deg);
    animation-timing-function: linear;
  }
  100% {
    transform: rotate(0deg) translate3d(150vw, 0, 0) rotate3d(1, 0, 0, 0deg) rotate3d(0, 1, 0, 0deg);
    animation-timing-function: ease-out;
  }
}

@keyframes lateral {
  from {
    transform: translateX(12%);
  }
  to {
    transform: translateX(-12%);
  }
}

@keyframes shimmer {
  from,
  25% {
    transform: scale(2, 1) rotate(-45deg) translate(-100%);
  }
  35%,
  to {
    transform: scale(2, 1) rotate(-45deg) translate(0%);
  }
}
